services:

  website:
    image: ghcr.io/ipnet-mesh/website:latest
    container_name: website
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
    ports:
      - "127.0.0.1:5000:5000"

  website_beta:
    image: ghcr.io/ipnet-mesh/website:main
    container_name: website-beta
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
      - BUILD_MODE=beta
    ports:
      - "127.0.0.1:5001:5000"

  website_alpha:
    image: ghcr.io/ipnet-mesh/website:feature-alpha
    container_name: website-alpha
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
      - BUILD_MODE=alpha
    ports:
      - "127.0.0.1:5002:5000"

networks:
  pangolin:
    external: true
