services:

  website:
    image: ghcr.io/ipnet-mesh/website:latest
    container_name: website
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
    volumes:
      - instance:/app/instance
    ports:
      - "127.0.0.1:5000:5000"

  website_beta:
    image: ghcr.io/ipnet-mesh/website:main
    container_name: website-beta
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
      - BUILD_MODE=beta
    volumes:
      - instance_beta:/app/instance
    ports:
      - "127.0.0.1:5001:5000"

  website_alpha:
    image: ghcr.io/ipnet-mesh/website:feature-alpha
    container_name: website-alpha
    restart: unless-stopped
    networks:
      - pangolin
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=false
      - BUILD_MODE=alpha
    volumes:
      - instance_alpha:/app/instance
    ports:
      - "127.0.0.1:5002:5000"

volumes:
  instance:
    driver: local
  instance_beta:
    driver: local
  instance_alpha:
    driver: local

networks:
  pangolin:
    external: true
