groups:
  - name: meshcore
    rules:
      - alert: NodeNotSeen
        expr: time() - meshcore_node_last_seen_timestamp_seconds{role="infra"} > 48 * 3600
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "{{ $labels.node_name }} ({{ printf \"%.8s\" $labels.public_key }})"
          description: "Last Seen: {{ $value | humanizeDuration }} ago"
