services:

  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./config/acl.conf:/mosquitto/config/acl.conf:ro
      - ./config/passwd:/mosquitto/config/passwd:ro
      - ./config/bridges:/mosquitto/config/bridges:ro
      - mosquitto_data:/mosquitto/data

networks:
  pangolin:
    external: true

volumes:
  mosquitto_data:
